In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
from sklearn.model_selection import train_test_split

# 1. Data preprocessing

In [28]:
data_df = pd.read_csv('CreditTraining.csv')
label_df = data_df['Prod_Category'].tolist()

In [29]:
# data_df = data_df.drop(['Prod_Category'], axis=1)
data_df.head()

,Id_Customer,Y,Customer_Type,BirthDate,Customer_Open_Date,P_Client,Educational_Level,Marital_Status,Number_Of_Dependant,Years_At_Residence,Net_Annual_Income,Years_At_Business,Prod_Sub_Category,Prod_Decision_Date,Source,Type_Of_Residence,Nb_Of_Products,Prod_Closed_Date,Prod_Category
0,7440,0,Non Existing Client,07/08/1977,13/02/2012,NP_Client,University,Married,3.0,1,36,1.0,C,14/02/2012,Sales,Owned,1,NaN,B
1,573,0,Existing Client,13/06/1974,04/02/2009,P_Client,University,Married,0.0,12,18,2.0,C,30/06/2011,Sales,Parents,1,NaN,G
2,9194,0,Non Existing Client,07/11/1973,03/04/2012,NP_Client,University,Married,2.0,10,36,1.0,C,04/04/2012,Sales,Owned,1,NaN,B
3,3016,1,Existing Client,08/07/1982,25/08/2011,NP_Client,University,Married,3.0,3,36,1.0,C,07/09/2011,Sales,New rent,1,31/12/2012,L
4,6524,0,Non Existing Client,18/08/1953,10/01/2012,NP_Client,University,Married,2.0,1,36,1.0,C,11/01/2012,Sales,Owned,1,NaN,D

Observations: there are categorical data, and we would to deal with that 

## 1.0. Types of data

In [30]:
clean_df = data_df.select_dtypes(exclude=['object']).copy()

In [31]:
cat_df = data_df.select_dtypes(include=['object']).copy()
cat_df.head()

,Customer_Type,BirthDate,Customer_Open_Date,P_Client,Educational_Level,Marital_Status,Net_Annual_Income,Prod_Sub_Category,Prod_Decision_Date,Source,Type_Of_Residence,Prod_Closed_Date,Prod_Category
0,Non Existing Client,07/08/1977,13/02/2012,NP_Client,University,Married,36,C,14/02/2012,Sales,Owned,NaN,B
1,Existing Client,13/06/1974,04/02/2009,P_Client,University,Married,18,C,30/06/2011,Sales,Parents,NaN,G
2,Non Existing Client,07/11/1973,03/04/2012,NP_Client,University,Married,36,C,04/04/2012,Sales,Owned,NaN,B
3,Existing Client,08/07/1982,25/08/2011,NP_Client,University,Married,36,C,07/09/2011,Sales,New rent,31/12/2012,L
4,Non Existing Client,18/08/1953,10/01/2012,NP_Client,University,Married,36,C,11/01/2012,Sales,Owned,NaN,D

In [32]:
cat_df.columns

Index(['Customer_Type', 'BirthDate', 'Customer_Open_Date', 'P_Client',
       'Educational_Level', 'Marital_Status', 'Net_Annual_Income',
       'Prod_Sub_Category', 'Prod_Decision_Date', 'Source',
       'Type_Of_Residence', 'Prod_Closed_Date', 'Prod_Category'],
      dtype='object')

In [33]:
cat_df['Marital_Status'].value_counts()

Married      4206
Single       1046
Widowed        64
Divorced       63
Separated       1
Name: Marital_Status, dtype: int64

## 1.1. Deal with categorical data excluding date

From all categorical datas ['Customer_Type', 'BirthDate', 'Customer_Open_Date', 'P_Client',
       'Educational_Level', 'Marital_Status', 'Net_Annual_Income',
       'Prod_Sub_Category', 'Prod_Decision_Date', 'Source',
       'Type_Of_Residence', 'Prod_Closed_Date', 'Prod_Category']

We first exclude ['BirthDate', 'Customer_Open_Date', 'Net_Annual_Income', 'Prod_Decision_Date']

We use 0-1 encoding for each category

In [34]:
for name in ['Customer_Type', 'P_Client',
            'Educational_Level', 'Marital_Status',
            'Prod_Sub_Category', 'Source',
            'Type_Of_Residence', 'Prod_Category']:
        print(cat_df[name].value_counts())

Non Existing Client    3369
Existing Client        2011
Name: Customer_Type, dtype: int64
NP_Client    4968
P_Client      412
Name: P_Client, dtype: int64
University           4785
Master/PhD            522
Diploma                58
Secondary or Less      15
Name: Educational_Level, dtype: int64
Married      4206
Single       1046
Widowed        64
Divorced       63
Separated       1
Name: Marital_Status, dtype: int64
C    4638
G     624
P     118
Name: Prod_Sub_Category, dtype: int64
Sales     4119
Branch    1261
Name: Source, dtype: int64
Owned       4791
Old rent     323
Parents      179
New rent      83
Company        4
Name: Type_Of_Residence, dtype: int64
B    3176
D     670
C     517
K     265
L     236
G     188
E     101
H      79
J      71
M      49
A      19
F       5
I       4
Name: Prod_Category, dtype: int64

In [35]:
pd.get_dummies(cat_df[['Customer_Type', 'P_Client',
                       'Educational_Level', 'Marital_Status',
                       'Prod_Sub_Category', 'Source',
                       'Type_Of_Residence', 'Prod_Category']])[:10]

,Customer_Type_Existing Client,Customer_Type_Non Existing Client,P_Client_NP_Client,P_Client_P_Client,Educational_Level_Diploma,Educational_Level_Master/PhD,Educational_Level_Secondary or Less,Educational_Level_University,Marital_Status_Divorced,Marital_Status_Married,...,Prod_Category_D,Prod_Category_E,Prod_Category_F,Prod_Category_G,Prod_Category_H,Prod_Category_I,Prod_Category_J,Prod_Category_K,Prod_Category_L,Prod_Category_M
0,0,1,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
2,0,1,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,0,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
4,0,1,1,0,0,0,0,1,0,1,...,1,0,0,0,0,0,0,0,0,0
5,1,0,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
6,0,1,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
7,0,1,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
8,1,0,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
9,1,0,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0

In [36]:
clean_df1 = clean_df.join(pd.get_dummies(cat_df[['Customer_Type', 'P_Client',
                                                'Educational_Level', 'Marital_Status',
                                                'Prod_Sub_Category', 'Source',
                                                'Type_Of_Residence', 'Prod_Category']]))

## 1.2. Deal with years

['BirthDate', 'Customer_Open_Date', 'Net_Annual_Income', 'Prod_Decision_Date', 'Prod_Closed_Date']

- **Possible appraoches** 
    - Use duration
        - `Birth_Duration = Now - BirthDate` ('BirthDate'): assuming there is a distribution of credibility, just started working -> less credit, worked for a long time but not close to retirement -> high credit) 
        - `Customer_Open_Duration = Now - Customer_Open_Date` ('Customer_Open_Date'): usually longer the history is, the more royal the customer is
        - 'Prod_Closed_Date' - 'Prod_Decision_Date'
            - length of the product?: if product closed 
            - `Prod_not_closed = (Prod_closed != nan)`: dummy variable if the product is closed 'Prod_not_closed' = 0 if closed
            - `Prod_Decision_Duration = Now - Prod_Decision_Date`
            - `Prod_Closed_Duration = Now - Prod_Closed_Date`: inf if not closed
    - Set severals intervals 
        - 'Net_Annual_Income':

In [37]:
type(cat_df['Prod_Closed_Date'].tolist()[3]) == float

False

In [38]:
# del clean_df1['BirthDate']
# del clean_df1['Customer_Open_Date'] 
# del clean_df1['Prod_Decision_Date']
# del clean_df1['Prod_closed']

In [39]:
# clean_df1['Prod_Decision_Duration'].tolist()[1].days

In [40]:
# duration: birth - now
temp_list = [(datetime.now().date() - datetime.strptime(datetime_str, '%d/%m/%Y').date()).days for datetime_str in cat_df['BirthDate'].tolist()]
clean_df1['Birth_Duration'] = temp_list

# duration: Customer_Open_Date
temp_list = [(datetime.now().date() - datetime.strptime(datetime_str, '%d/%m/%Y').date()).days for datetime_str in cat_df['Customer_Open_Date'].tolist()]
clean_df1['Customer_Open_Duration'] = temp_list

# dummy var: product closed = 1
temp_list = [int(type(ele) != float) for ele in cat_df['Prod_Closed_Date'].tolist()]
clean_df1['Prod_not_closed'] = temp_list

# duration: Prod_Decision_Date
temp_list = [(datetime.now().date() - datetime.strptime(datetime_str, '%d/%m/%Y').date()).days for datetime_str in cat_df['Prod_Decision_Date'].tolist()]
clean_df1['Prod_Decision_Duration'] = temp_list



# # duration: Prod_Closed_Date
# temp_list = [int(type(ele) != float) for ele in cat_df['Prod_Closed_Date'].tolist()]
# clean_df1['Prod_closed'] = temp_list

In [41]:
clean_df1

,Id_Customer,Y,Number_Of_Dependant,Years_At_Residence,Years_At_Business,Nb_Of_Products,Customer_Type_Existing Client,Customer_Type_Non Existing Client,P_Client_NP_Client,P_Client_P_Client,...,Prod_Category_H,Prod_Category_I,Prod_Category_J,Prod_Category_K,Prod_Category_L,Prod_Category_M,Birth_Duration,Customer_Open_Duration,Prod_not_closed,Prod_Decision_Duration
0,7440,0,3.0,1,1.0,1,0,1,1,0,...,0,0,0,0,0,0,15586,2978,0,2977
1,573,0,0.0,12,2.0,1,1,0,0,1,...,0,0,0,0,0,0,16737,4082,0,3206
2,9194,0,2.0,10,1.0,1,0,1,1,0,...,0,0,0,0,0,0,16955,2928,0,2927
3,3016,1,3.0,3,1.0,1,1,0,1,0,...,0,0,0,0,1,0,13790,3150,1,3137
4,6524,0,2.0,1,1.0,1,0,1,1,0,...,0,0,0,0,0,0,24341,3012,0,3011
5,3858,0,0.0,28,2.0,1,1,0,1,0,...,0,0,0,0,0,0,13551,3129,0,3110
6,2189,0,0.0,10,1.0,1,0,1,1,0,...,0,0,0,0,0,0,14807,3189,0,3178
7,9338,0,0.0,15,1.0,1,0,1,1,0,...,0,0,0,0,0,0,24294,2920,1,2919
8,9578,0,0.0,0,3.0,1,1,0,1,0,...,0,0,0,0,0,0,16841,6988,0,2929
9,173,1,4.0,35,2.0,1,1,0,1,0,...,0,0,0,0,1,0,20875,3270,1,3264
10,6439,0,0.0,10,3.0,1,0,1,1,0,...,0,0,0,0,0,0,12036,3041,0,3013
11,3921,0,0.0,10,2.0,2,0,1,1,0,...,0,0,0,0,0,0,22116,3126,0,3112
12,6961,0,0.0,2,4.0,1,1,0,0,1,...,0,0,0,0,0,0,14259,4728,0,2979
13,9242,0,0.0,15,1.0,1,0,1,1,0,...,0,0,0,0,0,0,11954,2927,0,2926
14,5086,0,0.0,1,1.0,1,0,1,1,0,...,0,0,0,0,0,0,16900,3070,0,3066
15,5841,0,0.0,10,1.0,1,0,1,1,0,...,0,0,0,0,0,0,18565,3038,0,3033
16,6825,0,0.0,15,1.0,1,0,1,1,0,...,0,0,0,0,0,0,16840,3007,0,2998
17,141,0,0.0,10,1.0,1,1,0,1,0,...,0,0,0,0,0,0,11887,3423,0,3257
18,6582,1,2.0,1,1.0,1,0,1,1,0,...,0,0,0,0,0,0,13797,3010,1,3007
19,882,0,3.0,8,2.0,1,0,1,1,0,...,0,0,0,0,0,0,17917,3224,0,3221
20,6225,0,0.0,15,1.0,1,0,1,1,0,...,0,0,0,0,0,0,25819,3045,0,3024
21,2378,0,0.0,12,1.0,1,0,1,1,0,...,0,0,0,1,0,0,12003,3186,0,3166
22,9350,0,0.0,27,6.0,1,0,1,1,0,...,0,0,0,1,0,0,12882,2935,1,2920
23,4537,0,3.0,10,3.0,1,1,0,0,1,...,0,0,0,0,0,0,16933,4740,0,3085
24,1756,0,2.0,2,1.0,1,0,1,1,0,...,0,0,0,0,0,0,21605,3186,0,3182
25,7670,0,0.0,1,1.0,1,0,1,1,0,...,0,0,0,0,0,0,26362,2969,0,2968
26,1051,0,0.0,1,1.0,1,0,1,1,0,...,0,0,0,0,0,0,17398,3214,0,3208
27,2234,0,0.0,4,4.0,1,0,1,1,0,...,0,0,0,0,0,0,11091,3182,0,3178
28,620,0,2.0,10,2.0,1,1,0,1,0,...,0,0,0,0,0,0,19860,3742,0,3207
29,8076,0,0.0,22,2.0,1,0,1,1,0,...,0,0,0,0,0,0,24211,2977,0,2976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5350,2429,0,2.0,20,21.0,1,0,1,1,0,...,0,0,0,0,0,0,20302,3199,0,3164
5351,1073,0,0.0,20,2.0,1,0,1,1,0,...,0,0,0,0,0,0,13407,3213,0,3210
5352,3660,0,1.0,29,3.0,1,1,0,0,1,...,1,0,0,0,0,0,13562,4265,0,3116
5353,7025,0,3.0,22,2.0,1,1,0,1,0,...,0,0,0,0,0,0,14445,4014,0,2982
5354,505,0,1.0,20,5.0,1,1,0,1,0,...,0,0,1,0,0,0,15390,5439,0,3207
5355,8827,0,1.0,20,10.0,1,1,0,1,0,...,0,0,0,0,0,0,18853,5483,0,2909
5356,2605,0,5.0,1,1.0,1,0,1,1,0,...,0,0,0,0,0,0,19975,3159,0,3152
5357,7092,0,4.0,10,1.0,1,1,0,0,1,...,0,0,0,0,0,0,21913,3301,0,2970
5358,2355,0,0.0,28,1.0,1,0,1,1,0,...,0,0,0,0,0,0,23897,3168,0,3167
5359,8764,0,0.0,9,5.0,1,1,0,1,0,...,0,0,0,0,0,0,20273,8355,0,2942
5360,4157,0,0.0,1,1.0,1,0,1,1,0,...,0,0,0,0,0,0,12365,3102,0,3094
5361,6717,0,0.0,15,1.0,1,0,1,1,0,...,0,0,0,0,0,0,23201,3004,0,3003
5362,924,0,0.0,1,1.0,1,0,1,1,0,...,0,0,0,0,0,0,15055,3220,0,3220
5363,5187,0,0.0,15,1.0,1,1,0,1,0,...,0,0,0,0,0,0,21736,4046,0,3039
5364,9565,0,2.0,30,1.0,1,1,0,1,0,...,0,0,0,0,0,0,26075,8873,0,2923
5365,1757,0,0.0,10,2.0,1,0,1,1,0,...,0,0,0,0,0,0,14369,3186,0,3182
5366,3055,0,0.0,1,1.0,2,0,1,1,0,...,0,0,0,0,0,0,20977,3139,1,3138
5367,7709,0,2.0,10,10.0,1,0,1,1,0,...,0,0,0,0,0,0,20230,2965,0,2964
5368,7463,0,1.0,10,3.0,1,0,1,1,0,...,0,0,0,0,0,0,15638,2977,0,2976
5369,1271,0,0.0,25,1.0,1,1,0,0,1,...,0,0,0,0,0,0,12259,3690,0,3185
5370,6941,0,0.0,15,1.0,1,1,0,1,0,...,0,0,0,0,0,0,25130,5091,0,2971
5371,4717,1,0.0,15,7.0,1,1,0,1,0,...,0,0,0,0,0,0,16750,3090,1,3061
5372,7692,0,0.0,11,3.0,1,0,1,1,0,...,0,0,0,0,0,0,22209,2968,0,2965
5373,2293,0,3.0,20,1.0,1,1,0,1,0,...,0,0,0,0,1,0,22341,3172,0,3165
5374,3349,0,0.0,1,1.0,1,0,1,1,0,...,0,0,0,0,0,0,13800,3125,0,3122
5375,5389,0,2.0,1,1.0,1,0,1,1,0,...,0,0,0,0,0,0,16071,3095,0,3058
5376,1358,1,3.0,15,1.0,1,1,0,1,0,...,0,0,0,0,1,0,13832,3214,1,3195
5377,2502,0,0.0,14,30.0,1,0,1,1,0,...,0,0,0,0,0,0,25375,3160,1,3159
5378,6712,0,1.0,1,1.0,1,0,1,1,0,...,0,0,0,0,0,0,13401,3007,0,3003
5379,4329,0,0.0,15,1.0,1,0,1,1,0,...,0,0,0,0,0,0,13834,3098,0,3090

## 1.3. Split train and test sets

In [59]:
clean_df1.columns.values

array(['Id_Customer', 'Y', 'Number_Of_Dependant', 'Years_At_Residence',
       'Years_At_Business', 'Nb_Of_Products',
       'Customer_Type_Existing Client',
       'Customer_Type_Non Existing Client', 'P_Client_NP_Client',
       'P_Client_P_Client', 'Educational_Level_Diploma',
       'Educational_Level_Master/PhD',
       'Educational_Level_Secondary or Less',
       'Educational_Level_University', 'Marital_Status_Divorced',
       'Marital_Status_Married', 'Marital_Status_Separated',
       'Marital_Status_Single', 'Marital_Status_Widowed',
       'Prod_Sub_Category_C', 'Prod_Sub_Category_G',
       'Prod_Sub_Category_P', 'Source_Branch', 'Source_Sales',
       'Type_Of_Residence_Company', 'Type_Of_Residence_New rent',
       'Type_Of_Residence_Old rent', 'Type_Of_Residence_Owned',
       'Type_Of_Residence_Parents', 'Prod_Category_A', 'Prod_Category_B',
       'Prod_Category_C', 'Prod_Category_D', 'Prod_Category_E',
       'Prod_Category_F', 'Prod_Category_G', 'Prod_Category_H',
       'Prod_Category_I', 'Prod_Category_J', 'Prod_Category_K',
       'Prod_Category_L', 'Prod_Category_M', 'Birth_Duration',
       'Customer_Open_Duration', 'Prod_not_closed',
       'Prod_Decision_Duration'], dtype=object)

In [42]:
data_list = []
labels = []
for name in clean_df1.columns.values:
    if name is 'Id_Customer':
        pass
    elif name is 'Y':
        labels = clean_df1[name].tolist()
    else:
        data_list.append(clean_df1[name].tolist())

data_list = np.transpose(data_list)

## 1.4. Check data

## 1.4.1. Nan elemnts

In [43]:
np.shape(data_list), np.shape(clean_df1)

((5380, 45), (5380, 46))

In [52]:
# check nan elements
np.where(np.isnan(X_train))

(array([  23,  887, 2126, 2405]), array([1, 3, 3, 1]))

In [66]:
# nan in firt and third col 
sum(np.isnan(clean_df1['Number_Of_Dependant'].tolist())), sum(np.isnan(clean_df1['Years_At_Business'].tolist()))

(2, 2)

In [70]:
clean_df1[np.isnan(clean_df1['Number_Of_Dependant'].tolist())]

,Id_Customer,Y,Number_Of_Dependant,Years_At_Residence,Years_At_Business,Nb_Of_Products,Customer_Type_Existing Client,Customer_Type_Non Existing Client,P_Client_NP_Client,P_Client_P_Client,...,Prod_Category_H,Prod_Category_I,Prod_Category_J,Prod_Category_K,Prod_Category_L,Prod_Category_M,Birth_Duration,Customer_Open_Duration,Prod_not_closed,Prod_Decision_Duration
634,8953,1,NaN,21,1.0,2,1,0,0,1,...,0,0,0,0,0,0,10899,3489,1,2913
5045,9588,0,NaN,10,10.0,1,1,0,1,0,...,0,0,0,0,0,0,25481,5682,0,2905

In [71]:
clean_df1[np.isnan(clean_df1['Years_At_Business'].tolist())]

,Id_Customer,Y,Number_Of_Dependant,Years_At_Residence,Years_At_Business,Nb_Of_Products,Customer_Type_Existing Client,Customer_Type_Non Existing Client,P_Client_NP_Client,P_Client_P_Client,...,Prod_Category_H,Prod_Category_I,Prod_Category_J,Prod_Category_K,Prod_Category_L,Prod_Category_M,Birth_Duration,Customer_Open_Duration,Prod_not_closed,Prod_Decision_Duration
1987,398,0,0.0,10,NaN,2,0,1,1,0,...,0,0,0,0,0,0,13114,3248,1,3241
2750,5882,0,0.0,2,NaN,1,0,1,1,0,...,0,0,0,0,0,0,14124,3039,0,3026

##### Customer with nan 
- Years_At_Business
    - Id_Customer = 398, 5882	
- Number_Of_Dependant
    - Id_Customer = 8953, 9588	



##### Potential approach:
- Delete the data 
- Replace value with the median

In [72]:
clean_df2 = clean_df1.copy

temp_list[] = clean_df2['Number_Of_Dependant']
temp_list[] = 
clean_df2['Number_Of_Dependant'] =

In [45]:
X_train, X_test, y_train, y_test = train_test_split(data_list, labels, test_size=0.25, random_state=42)

np.save('X_train.npy',X_train)
np.save('X_test.npy',X_test)
np.save('y_train.npy',y_train)
np.save('y_test.npy',y_test)

# 2. Deterministic Models

This is a binary classification problem where we only have two labels

In [22]:
for i in set(labels):
    print(i,labels.count(i))

0 4987
1 393

## 2.1. KNN

In [47]:
from sklearn.neighbors import KNeighborsClassifier

neigh = KNeighborsClassifier(n_neighbors=2)
neigh.fit(X_train, y_train)
pred_KNN = neigh.predict(X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').